<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Bike Warehues</title>
    <base href="/static/">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="about-container">
        <div class="about-content">
            <h1>O Aplikaciji</h1>
            <p>Bike Warehouse je alat za jednostavno upravljanje biciklima u vašem skladištu ili prodavnici. Omogućava
                vam da dodate, pregledate, izmenite i obrišete bicikle iz baze podataka uz minimalan napor.</p>

            <h2>Šta Bike Warehouse Nudi?</h2>
            <p>Dodajte nove bicikle, pregledajte postojeće, ažurirajte podatke i brišite bicikle po potrebi. Sve ove
                funkcije su dizajnirane za jednostavno korišćenje.</p>

            <h2>Kome je Aplikacija Namjenjena?</h2>
            <ul>
                <li>Skladištima i prodavnicama bicikala.</li>
            </ul>

            <h2>Kako Bike Warehouse Pomaže?</h2>
            <p>Naša aplikacija omogućava brzu pretragu, automatsku pohranu podataka i jednostavan korisnički interfejs,
                olakšavajući vam upravljanje skladištem bicikla.</p>
        </div>
    </div>
    </div>
</body>

</html>