<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Bike Warehues</title>
    <base href="/static/">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <div class="content">
            <h1>Center for Cycling <br> Equipment Management</h1>
        </div>
        <div class="warehouse">
            <a href="{{ url_for('warehouse') }}" target="outer-content-frame" class="wbtn"><span></span>Access to
                Warehouse
            </a>

        </div>
    </div>
</body>

</html>