<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Bike Warehouse</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <nav>
        <a href="{{ url_for('home') }}" target="outer-content-frame">
            <img src="{{ url_for('static', filename='image/toppng.com-bicyc-road-bike-comments-road-bike-logo-981x556.png') }}"
                class="logo" alt="Logo">
        </a>
        <ul>
            <li><a href="{{ url_for('home') }}" target="outer-content-frame">Home</a></li>
            <li><a href="{{ url_for('support') }}" target="outer-content-frame">Support</a></li>
            <li><a href="{{ url_for('about') }}" target="outer-content-frame">About</a></li>
        </ul>
        <a href="{{ url_for('warehouse') }}" target="outer-content-frame" class="btn">
            <img src="{{ url_for('static', filename='image/warehouse.png') }}" alt="Warehouse">Warehouse
        </a>
    </nav>

    <div class="container">
        <iframe name="outer-content-frame" src="{{ url_for('home') }}" class="outer-content-frame"></iframe>
    </div>

</body>

</html>