<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Bike Warehues</title>
    <base href="/static/">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="about-container">
        <div class="about-content">
            <h2>Podrška</h2>
            <p> Bike Warehouse izradio je student Marko Valečić sa sveučilišta Juraj
                Doobrila u Puli, Online
                studij Informatike, 1.godina, posvećen pružanju visokokvalitetnih
                rešenja za upravljanje biciklima. Ako imate bilo kakvih pitanja, sugestija ili problema, slobodno me
                kontaktirajte.
            </p>
            <p>Kontakt email: marko.valecic@gmail.com</p>
            <p>Kontakt email: mvalecic@student.unipu.hr</p>
        </div>
    </div>
    </div>
</body>

</html>